# Dataset
data/*.csv
data/*.zip

# Models
models/

# Outputs
outputs/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db