# ==========================
# Datasets
# ==========================
data/**/*.csv
data/**/*.parquet
data/**/*.zip

# ==========================
# Trained models
# ==========================
models/**
!models/.gitkeep

# ==========================
# Outputs (plots, reports)
# ==========================
outputs/**
!outputs/.gitkeep

# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Virtual environments
# ==========================
.venv/
venv/
env/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

mlruns/